#news-list .pager {
    clear: both;
    display: block;
    height: 40px;
    margin: 30px auto;
    max-width: 640px;
}

#news-list .pager li {
    float: left;
    margin-right: 5px;
}

#news-list .pager li a {
    width: 36px;
    height: 36px;
    color: #9d9d9d;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    border: 1px solid #CCCCCC;
}

#news-list .pager a:hover, #news-list .pager li.selected a {
    background-color: #178BE5;
    color: #FFFFFF;
    border: 1px solid #178BE5;
}

#news-list .pager .first a, #news-list .pager .last a {
    width: 55px;
}

#news-list .pager .hidden {
    display: none;
}